@use "../base/" as *;
@use "../abstract/" as *;

.header {
  display: block;
  z-index: 99;
  position: fixed;
  width: 100%;
  padding: 2rem 0;
  box-shadow: rgba(227, 49, 10, 0.1) 0px 4px 12px;
  background-color: $clr--dark;


  &__wrapper {
    @include between;
  }
  &__nav {
    display: flex;
    gap: 2rem;
    li a {
      color: $clr--light;
      font-weight: 600;
      font-size: 1.2rem;
      &:hover {
        color: $clr--secondary;
      }
    }
    @include mediaQuery(520px){
    position: fixed;
    flex-direction: column;
    top: 0;
    
    text-align: center;
    justify-content: center;
    background-color: $clr--primary;
    width: 100%;
    height: 100vh;
    margin-top: 21rem;
    transform: translateY(-14rem);
    z-index: 99;
    right: -100%;
    transition: all .5s ease;

    &.open{
    right: 0;
    transition: all .5s ease;
    }
   
    }
  }
  &--toggle__menu{
    display: none;
      span{
        background-color: $clr--light;
        transition: all .5s ease;
        width: 4rem;
        height: 0.6rem;
        display: block;
        border: 2px solid $clr--light;
        border-radius: 1rem
    }
    &.open span:first-child{
    transform: translate(0, 20px) rotate(225deg);
    transition: all .5s ease;
    }
    &.open span:nth-child(2){
    opacity: 0;
    transition: all .5s ease;
    }
    &.open span:last-child{
    transform: translate(0, -14px) rotate(-225deg);
    transition: all .5s ease;
    }
  }
    @include mediaQuery(520px){
    position: fixed;
    width: 100%;
      &--toggle__menu{
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
      }
      img{
        width: 10rem;
      }
    }
  &__logo {
    width: 10rem;
    height: 3rem;
  }
}